In [1]:
#self employed 0 - no 1 -yes
#married 0 - no 1 -yes
#Education 0- Not graduate, 1 - Graduate
#Gender 0- Male , 1-Female
#Loan Status - 0 No , 1 - Yes
#property_Area 1- Urban, 2 Semi-Urban 3 - Rural

In [2]:
import pandas as pd
import seaborn as sns

df=pd.read_csv("./datasets/Loan_Status_Classification.csv")

In [3]:
#samples 


df.sample(  5  )

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
191,1,0,1,0,1,3867,0,62,360,1,2,0
208,0,0,0,1,0,9166,0,244,360,1,1,0
275,0,1,1,1,1,1000,3022,110,360,1,1,0
265,0,1,1,1,0,3315,0,96,360,1,2,1
194,0,1,2,1,0,8000,0,200,360,1,2,1

In [4]:
#number of missing values


df.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [5]:
df.shape

(298, 12)

In [6]:
#data bias


df['Loan_Status'].value_counts(normalize=True)

1    0.503356
0    0.496644
Name: Loan_Status, dtype: float64

In [7]:
#2 points

features=df[["ApplicantIncome"]] #best contributors!
label=df[['Loan_Status']]

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(features,label,test_size=0.2)

In [9]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression() #Decision Tree

In [10]:
model.fit(x_train,y_train)

/home/harshit/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [11]:
model.score(x_test,y_test)

0.5

In [12]:
ans=model.predict(x_test)
ans

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [13]:
predicted=pd.DataFrame(ans)
predicted.head(5)

   0
0  0
1  0
2  0
3  0
4  0

In [14]:
actual_test=pd.DataFrame(y_test).reset_index(drop=True)
actual_test.head(5)

   Loan_Status
0            1
1            0
2            1
3            0
4            1

In [15]:
pd.concat([predicted,actual_test],axis=1).sample(5)

    0  Loan_Status
21  0            1
57  0            1
14  0            0
39  0            1
29  0            1

In [16]:
from sklearn.metrics import accuracy_score

accuracy_score(actual_test,predicted)

0.5

In [17]:
from sklearn.metrics import confusion_matrix
confusion_matrix(actual_test,predicted)

array([[30,  0],
       [30,  0]])